<div class="interactive-container js-main">
    <div class="l-transit js-transit"></div>
    <div class="js-transit-preload"></div>

    <div class="l-logo">
        <a href="http://www.theguardian.com/"><img src="%assetPath%/assets/imgs/guardian.png" /></a>
    </div>
    <div class="l-share">
        <button class="btn-share" data-network="facebook"></button>
        <button class="btn-share" data-network="twitter"></button>
        <button class="btn-share" data-network="email"></button>
    </div>
    
    <div class="mw-620">
        <button class="btn-theatre js-theatre">In the cinema?</button>
        <h1 class="f-headline mb-6 js-headline">Star Wars: The Force Awakens – your interactive cheat sheet</h1>
        <p class="f-standfirst mb-24 js-standfirst">Worried you won’t know Captain Phasma from C-3PO? As the latest episode arrives in cinemas, here’s a handy guide to the deep mythology of the Star Wars universe – from new characters to old favourites. Explore the <span style="text-decoration:underline;color:#5EBFBA;">good</span>, <span style="text-decoration:underline;color:#FF5B3A;">bad</span> and the <span style="text-decoration:underline;color:#BDBDBD;">unknowns</span></p>
    </div>

    <nav class="d-n"><ul class="l-nav fs-textSans4 js-nav"></ul></nav>

    <section class="js-cha l-cha d-n"></section>
    <section class="js-loc d-n"></section>
    <section class="js-org d-n"></section>
    <section class="js-tec d-n"></section>
    <section class="js-oth d-n"></section>

    <div class="bt pt-12 mb-24">
        <p class="byline c-g4">Produced by Ben Child, Chia-Jung (Apple) C.Fardel, Chris Newell, and Troy Griggs</p>
        <p class="caption c-g4">Photo credits: Disney</p>
    </div>
    <div class="bt pt-12 mb-24">
        <p class="f-header">More stories on Star Wars</p>
        <ul class="l-link js-link"></ul>
    </div>
</div>

<div class="l-modal d-n js-modal"></div>
