<div class="interactive-container l-stars js-main">
    <div class="l-logo">
        <img src="%assetPath%/assets/imgs/guardian.png" />
    </div>
    <div class="l-share">
        <button class="btn-share" data-network="facebook"></button>
        <button class="btn-share" data-network="twitter"></button>
        <button class="btn-share" data-network="email"></button>
    </div>
    
    <h1 class="f-headline mt-48 mb-6">Your last-minute guide to Star Wars</h1>
    <p class="f-standfirst l-standfirst">Have you just realised that you nothing about Star Wars universe but agreed to go see it? We can help ...</p>

    <button class="btn-theatre js-theatre">In the theatre?</button>
    <nav class="js-nav">
        <ul class="f-nav l-nav">
            <li data-nav="cha">Characters</li>
            <li data-nav="loc">Locations</li>
            <li data-nav="org">Orgainisations</li>
            <li data-nav="tec">Tech</li>
            <li data-nav="oth">Other</li>
        </ul>
        <div class="f-prev l-prev js-prev d-n">
            <svg class="svg-prev pe-n"><path d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"></path></svg>
            <span class="pe-n"></span>
        </div>
        <div class="f-next l-next js-next d-n" data-nav="cha">
            <svg class="svg-next pe-n"><path d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"></path></svg>
            <span class="pe-n">Next: the locations</span>
        </div>
    </nav>

    <section class="js-cha"></section>
    <section class="js-loc"></section>
    <section class="js-org"></section>
    <section class="js-tec"></section>
    <section class="js-oth"></section>
</div>

<div class="l-modal d-n js-modal"></div>
