<div class="interactive-container js-main">
    <div class="l-transit js-transit"></div>
    <div class="js-transit-preload"></div>

    <div class="l-logo">
        <a href="http://www.theguardian.com/"><img src="%assetPath%/assets/imgs/guardian.png" /></a>
    </div>
    <div class="l-share">
        <button class="btn-share" data-network="facebook"></button>
        <button class="btn-share" data-network="twitter"></button>
        <button class="btn-share" data-network="email"></button>
    </div>
    
    <div class="mw-620">
        <button class="btn-theatre js-theatre">In the theatre?</button>
        <h1 class="f-headline mb-6 js-headline">Your last-minute guide to ‘Star Wars: The Force Awakens’</h1>
        <p class="f-standfirst mb-24 js-standfirst">Slipping into the cinema to escape the unwanted attentions of a group of nosey stormtroopers, but realised you know nothing about Star Wars: The Force Awakens? We can help you sort your Sith Lords from your Jedi Knights and your TIE Fighters from your X-Wing starfighters.</p>
    </div>

    <nav class="d-n"><ul class="l-nav fs-textSans4 js-nav"></ul></nav>

    <section class="js-cha l-cha d-n"></section>
    <section class="js-loc d-n"></section>
    <section class="js-org d-n"></section>
    <section class="js-tec d-n"></section>
    <section class="js-oth d-n"></section>

    <div class="bt pt-12 mb-24">
        <p class="byline c-g4">Produced by Ben Child, Chia-Jung (Apple) C.Fardel, Chris Newell, and Troy Griggs</p>
        <p class="caption c-g4">Photo credits: Disney</p>
    </div>
    <div class="bt pt-12 mb-24">
        <p class="f-header">More stories on Star Wars</p>
        <ul class="l-link js-link"></ul>
    </div>
</div>

<div class="l-modal d-n js-modal"></div>
