<div class="l-sel">
    <div class="btn-close js-close f-r">
        <svg viewBox="0 0 18 18"><path d="M7.5 9l-6.5-7 1-1 7 6.5 7-6.5 1 1-6.5 7 6.5 7-1 1-7-6.5-7 6.5-1-1 6.5-7z"/></svg>
    </div>
    <div class="ta-c pt-36">
        <h3 class="mb-6 js-name"></h3>
        <div class="a-img"></div>
        <div class="l-img js-img"></div>
    </div>
    <h4>What we know</h4>
    <p class="fs-textSans1 c-g4 mb-18">Played by <span class="js-actor"></span>. <span class="js-desc"></span></p>
    <h4 class="fw-b">What we know about the role</h4>
    <p class="fs-textSans1 c-g4 js-know"></p>

    <div class="l-rels js-rels">
    <h4>The connections</h4>
    <ul></ul>   
    </div>
</div>
