<h2 class="mb-6 pt-30">The <span class="js-type"></span></h2>
<p> There are 
    <span class="js-num"></span> 
    <span class="js-type"></span> that have<br>
    made an apperance 
</p>
<div class="js-list l-list mt--60"></div>

<div class="js-item w-600 d-n">
    <div class="ta-c pt-30">
        <h3 class="mb-6 js-name"></h3>
        <p class="js-desc"></p>
        <div class="a-cha-ring"></div>
        <div class="l-cha-img js-img"></div>
    </div>
    <p class="fs-textSans4 fw-bold">What we know so far</p>
    <p class="fs-textSans1 js-know"></p>
</div>
