<div class="l-selected">
    <div class="btn-close js-close f-r">
        <svg viewBox="0 0 18 18"><path d="M7.5 9l-6.5-7 1-1 7 6.5 7-6.5 1 1-6.5 7 6.5 7-1 1-7-6.5-7 6.5-1-1 6.5-7z"/></svg>
    </div>
    
    <h3 class="ta-c mt-72 mb-120 js-name"></h3>
    <!--div class="a-img p-a"></div-->
    <img class="l-pic js-pic" />
    <div class="l-img js-img"></div>
    
    <h4 class="mb-2">What we know</h4>
    <p class="f-item-txt c-g4 mb-18">
        <span class="js-actor"></span> 
        <span class="js-desc"></span>
    </p>
    <p class="f-item-txt c-g4 mb-36 js-know"></p>

    <div class="l-rels pt-12 bt a-rels js-rels">
        <h4>The connections</h4>
        <ul></ul>   
    </div>

    <div class="ta-c pt-24 mb-24 bt">
    <button class="btn-back js-close">Go back</button>
    </div>
</div>
