
// Section charactor
.a-item { opacity: 0.75;}
.a-ring { opacity: 0; }

.a-item:hover {
    opacity: 1;
    .a-ring {
    opacity: 0.75;
    animation: scale 1s ease infinite;
}}

@keyframes scale {
    0%   { transform: scale(1);   opacity: 0.5; }
    75%  { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1);   opacity: 0; }
}


// Page background
.a-stars {
    background-image: url(/assets/imgs/twinkling.png), url(/assets/imgs/stars.png);
    background-position: 0 0, 0 0;
    animation: blinks 250s linear infinite;
}

@keyframes blinks {
  from { background-position: 0 0, 0 0; }
  to   { background-position: -10000px 5000px, 0 0; }
}
