/* animation */
// page background
.a-stars {
    animation: blinks 300s linear infinite;
}
@keyframes blinks {
  from { background-position: 0 0, 0 0; }
  to   { background-position: -10000px 5000px, 0 0; }
}

// section
.a-item { opacity: 0.75; }
.a-ring { opacity: 0; }

.a-item:hover {
    opacity: 1;
    .a-ring {
    opacity: 0.75;
    animation: scale 1s ease infinite;
}}

// transit between section and section item selected
// bg
.a-hyperspace {
    animation: space 0.5s ease-out 1;
}
/*@keyframes space {
    25%  { background-size: 0 0, 1280px 1600px; }
    50%  { background-size: 0 0, 12800px 16000px; }
    100% { background-size: 0 0, 128000px 160000px; }
}*/
@keyframes space {
    25%  { background-size: 0 0, 1280px 1600px; }
    50%  { background-size: 0 0, 12800px 1600px; }
    100% { background-size: 0 0, 2000000px 1600px; }
}
.a-transit-dark { 
    background-image: url("assets/imgs/gifs/hyperspace_dark.gif");
}
.a-transit-light { 
    background-image: url("assets/imgs/gifs/hyperspace_light.gif");
}
.a-transit-unknown { 
    background-image: url("assets/imgs/gifs/hyperspace_unknown.gif");
}

// items
.a-zoom-out {
    animation: zoom-out 0.6s ease-out 1;
}
.a-zoom-in {
    animation: zoom-in 0.6s ease-out 1;
}
@keyframes zoom-out {
    //40%  { transform: scale(0.5) translate(0, 0);} 
    //100% { transform: scale(0.5) translate(-1800px, 0); opacity: 0.25; } 
    40%  { transform: scale(0.5); } 
    100% { transform: scale(0.1); opacity: 0.25; } 
}
@keyframes zoom-in {
    40%  { transform: scale(2);}// translate(0, 0)} 
    60%  { transform: scale(2);}// translate(400px,0); }
    100% { transform: scale(30);}// translate(600px,0); }
}

// section item selected
.a-img {
    width: $radius-ring;
    height: $radius-ring;
    border: 1px solid rgba(200, 200, 200, 0.2);
    border-radius: $radius-ring/2;    
    margin: /*-($radius-big/2)*/ -88px auto 0 auto;
    animation: scale 1.5s ease infinite; 
}
@keyframes scale {
    0%   { transform: scale(1);   opacity: 0.5; }
    75%  { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1);   opacity: 0; }
}
