/* animation */
// page background
.a-stars {
    animation: blinks 300s linear infinite;
}
@keyframes blinks {
  from { background-position: 0 0, 0 0; }
  to   { background-position: -10000px 5000px, 0 0; }
}

// section
.a-item { opacity: 0.75; }
.a-ring { opacity: 0; }

.a-item:hover,
.a-rels li:hover {
    opacity: 1;
    .a-ring {
    opacity: 0.75;
    animation: scale 1s ease infinite;
}}

.a-transit { 
    background-image: url("assets/imgs/gifs/hyperspace_unknown.gif");
}

// items
.a-zoom-out {
    animation: zoom-out 0.6s ease-out 1;
    z-index: 1040;
}
.a-zoom-in1 {
    animation: zoom-in1 0.6s ease-out 1;
    z-index: 1040;
}
.a-zoom-in2 {
    animation: zoom-in2 0.6s ease-out 1;
    z-index: 1040;
}
@keyframes zoom-out {
    40%  { transform: scale(0.5); } 
    100% { transform: scale(0.1); opacity: 0.25; } 
}
@keyframes zoom-in1 {
    40%  { transform: scale(2);}    // translate(0, 0)} 
    85%  { transform: scale(2);}    // translate(400px,0); }
    100% { transform: scale(20);}   // translate(600px,0); }
}
@keyframes zoom-in2 {
    40%  { transform: scale(2);}    // translate(0, 0)} 
    95%  { transform: scale(2);}    // translate(400px,0); }
    100% { transform: scale(10);}    // translate(600px,0); }
}

// modal 
.a-img {
    top: -$radius-ring/2;
    width: 100%;//$radius-ring;
    height: $radius-ring;
    border: 1px solid rgba(200, 200, 200, 0.2);
    border-radius: $radius-ring/2;    
    animation: scale 1.5s ease infinite; 
    z-index: -1;
    @include mq(mobileLandscape) {
        top: -245px;
    }
}
@keyframes scale {
    0%   { transform: scale(1);   opacity: 0.5; }
    75%  { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1);   opacity: 0; }
}

.a-fade-effect {
     opacity: 1;
     animation: fade-effect ease-in-out 1s 1;
}
@keyframes fade-effect { 
    0%   { opacity: 1; }
    50%  { opacity: 0.1; }
    100% { opacity: 1; }
}
