/* atomic css */

.c-g4 { color: #dcdcdc; }
.ta-c { text-align: center; }

.d-n  { display: none; }
.f-r  { float: right; }

.o-3_4 { opacity: 0.75; }

.mb-6   { margin-bottom: 6px; }
.mt-48  { margin-top: 48px; }
.pt-36  { padding-top: 36px; }

.pe-n { pointer-events: none; }
.c-p  { cursor: pointer; }
