/* atomic css */

.c-g4 { color: #dcdcdc; }
.c-g3 { color: #bdbdbd; }
.ta-c { text-align: center; }

.d-n  { display: none; }
.p-r  { position: relative; height: 300px; }
.p-a  { position: absolute; }
.f-r  { float: right; }

.o-3_4 { opacity: 0.75; }

.mw-620 { max-width: 620px; }
.mw-780 { max-width: 780px; }

.mb-6   { margin-bottom: 6px; }
.mb-18  { margin-bottom: 18px; }
.mb-24  { margin-bottom: 24px; }
.mb-120 { margin-bottom: 120px; }
.mt-4   { margin-top: 4px; }
.mt-32  { margin-top: 32px; }
.pt-36  { padding-top: 36px; }

.pe-n { pointer-events: none; }
.c-p  { cursor: pointer; }
