/* atomic css */

.c-g4 { color: #dcdcdc; }
.c-g3 { color: #bdbdbd; }
.ta-c { text-align: center; }

.d-n  { display: none; }
.p-r  { position: relative; height: 300px; }
.p-a  { position: absolute; }
.f-r  { float: right; }
.va-m { vertical-align: middle;}

.o-3_4 { opacity: 0.55; }

.mw-620 { max-width: 620px; }
.mw-780 { max-width: 780px; }

.mb-2   { margin-bottom: 2px; }
.mb-6   { margin-bottom: 6px; }
.mb-18  { margin-bottom: 18px; }
.mb-24  { margin-bottom: 24px; }
.mb-36  { margin-bottom: 36px; }
.mb-120 { margin-bottom: 120px; }
.mt-4   { margin-top: 4px; }
.mt-72  { margin-top: 72px; }
.ml-76  { margin-left: 76px; }
.pt-12  { padding-top: 12px; }
.pt-24  { padding-top: 24px; }
.pt-36  { padding-top: 36px; }
.bt { border-top: 1px solid rgba(255,255,255,0.25); }

.pe-n { pointer-events: none; }
.c-p  { cursor: pointer; }
