/* This file contains components of
   1. svgs
   2. buttons 
*/

// svgs
svg {
    width: 100%;
    height: 100%;
    border-radius: $radius-big/2;
    // TODO: temp, remove after
    background-color: rgba(75,75,75, 0.5);
}
// TODO: temp, remove after
.btn-close svg {
    background-color: transparent;
}

.svg-top,
.svg-nav {
    background-color: transparent;
}
.svg-top {
    fill: #dcdcdc;
    width: 24px;
    height: 24px;    
    transform: rotate(270deg); 
}
.svg-nav {
    fill: white;
    width: 18px;
    height: 18px;    
    transform: rotate(90deg); 
    border: 1px solid white;
    margin-right: 6px;
}

// buttos (and svg related tags)
.btn-theatre {
    color: white;
    @include fs-textSans(4);
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 15px;
    outline: 0;
    margin: 48px 0 12px;
    padding: 5px 18px 4px 18px;
}
.btn-nav {
    color: white;
    @include fs-textSans(4);
    cursor: pointer; 
}

.btn-close {
    cursor: pointer;
    height: 32px;
    path { fill: rgba(255,255,255,0.25); }
    &:hover path { fill: white; }
}

.btn-close svg,
.btn-share {
    width: 32px;
    height: 32px;
}

.btn-share {
    border-radius: 32px;
    background: #333;
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: rgba(255,255,255,0.25);

    &[data-network='facebook'] {
        background-color: #3067a3;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNy45IDE0aC0zdjhIMTJ2LThoLTJ2LTIuOWgyVjguN0MxMiA2LjggMTMuMSA1IDE2IDVjMS4yIDAgMiAuMSAyIC4xdjNoLTEuOGMtMSAwLTEuMi41LTEuMiAxLjN2MS44aDNsLS4xIDIuOHoiLz48L3N2Zz4=);
        &:hover {
            background-color: #244e7c;
        }
    }

    &[data-network='twitter'] {
        background-color: #03b3ee;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMS4zIDEwLjV2LjVjMCA0LjctMy41IDEwLjEtOS45IDEwLjEtMiAwLTMuOC0uNi01LjMtMS42LjMgMCAuNi4xLjguMSAxLjYgMCAzLjEtLjYgNC4zLTEuNS0xLjUgMC0yLjgtMS0zLjMtMi40LjIgMCAuNC4xLjcuMWwuOS0uMWMtMS42LS4zLTIuOC0xLjgtMi44LTMuNS41LjMgMSAuNCAxLjYuNC0uOS0uNi0xLjYtMS43LTEuNi0yLjkgMC0uNi4yLTEuMy41LTEuOCAxLjcgMi4xIDQuMyAzLjYgNy4yIDMuNy0uMS0uMy0uMS0uNS0uMS0uOCAwLTIgMS42LTMuNSAzLjUtMy41IDEgMCAxLjkuNCAyLjUgMS4xLjgtLjEgMS41LS40IDIuMi0uOC0uMy44LS44IDEuNS0xLjUgMS45LjctLjEgMS40LS4zIDItLjUtLjQuNC0xIDEtMS43IDEuNXoiLz48L3N2Zz4=);
        &:hover {
            background-color: #028dbc;
        }
    }

    &[data-network='email'] {
        background-color: #767676;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMC4yIDExLjdsLS40LS40LTUuNyAyLjctNS43LTIuNy0uMy40IDYgNC45IDYuMS00Ljl6TTIxLjQgN0g2LjVMNSA5LjV2OS4zTDYuNiAyMGgxNC45bDEuNS0xLjJWOS41TDIxLjQgN3ptLS41IDEwLjhINy4xVjkuMmgxMy44djguNnoiLz48L3N2Zz4=);
        &:hover {
            background-color: #5d5d5d;
        }
    }
}
