/* Variables */
$radius-mid:  100px; // normal
$radius-big:   96px; // select by user
$radius-ring: 620px;

/* Header styles */
// override the guardian's styles
ul { margin-left: 0; }
.l-header {
    display: none;
}
.breaking-news.js-breaking-news-placeholder {
    z-index: 1041;
    // NOTO: hack due to content in between ads and breaking news all z-index have 1040
} 
.byline {
    border-top: none;
}


// custom: bg
.l-stars {
    background-image: url('assets/imgs/twinkling.png'), url('assets/imgs/stars.png');
    background-position: 0 0, 0 0;
}
.l-stars-lite {
    background-image: url('assets/imgs/twinkling.png'), url('assets/imgs/stars.lite.png');
    background-position: 0 0, 0 0;
}

.l-transit {
    top: 0px;
    left: 0px;
    background-size: 100% 100%;//100vh;
    background-repeat: no-repeat;
    width: 100%;
    //height: 100vh;
    position: absolute;
    pointer-events: none;
    z-index: 1040; //ads is 1040
}

.l-logo {
    float: right;
    margin-top: 6px;
    width: 128px;
    img { width: 100%; }
}
.l-share {
    border-bottom: 1px solid #444;
    padding-bottom: 6px;
}

.l-nav {
    list-style-type: none;
    margin: 0;
    margin-bottom: 36px;
    padding: 12px 0;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    li { 
        display: inline-block;
        margin-right: 16px;
        &:last-child { margin-right: 0; }
        @include mq(mobileLandscape) {
        margin-right: 36px;
    }}
    svg, span {
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;    
    }
    // hotfix
    span { line-height: 32px; }
}


/* Section */
section {
    padding-bottom: 36px;
    border-top: 1px solid #444;
    box-sizing: border-box;
}
.l-cha {
    border-top: none; 
    .l-top { display: none; }
}

.l-top {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
.l-list {
    @extend mw-620;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    @include mq(mobileLandscape) { 
    height: 600px;
}}
.l-item {
    width: $radius-mid;
    height: $radius-mid;
    cursor: pointer;
}
.l-ring,
.l-rels-ring {
    width: 100%;
    height: 100%;
    border-radius: $radius-mid/2;
    box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 6px black, 0 0 0 7px rgba(255,255,255,0.5);
}
.l-rels-ring {
    margin-top: -71px; 
}

/* Modal */
.l-modal {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow-y: scroll; 
    z-index: 1041;      // ads and breaking news are 1040
    transition: opacity 0.5s ease-in;
}
.l-selected {
    color: white;
    height: 10000px;
    max-width: 620px;
    margin: auto;
    padding: 12px;
}
.l-item-selected {
    position: relative;
    padding-top: 36px;
    pointer-events: none;
}
.l-pic {
    width: 100%;
    height: auto;
    margin-top: -42px;
    margin-bottom: 24px;
    box-shadow: 0px 1px 8px 3px rgba(0,0,0,0.25);
}
.l-img {
    position: absolute;
    top: 120px;
    left: calc(50% - #{$radius-big/2});
    width: $radius-big;
    height: $radius-big;
    border-radius: $radius-big/2;
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.25);
    background-color: rgba(50,50,50, 0.5);
}

.l-rels {
    ul { margin-left: 0; }
    li { 
    list-style: none;
    min-height: 80px;
    cursor: pointer;
}}
.l-rels-img {
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: rgba(50,50,50, 0.5);
}

// News links
.l-link {
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 30px;
    li {
    width: 100%;//calc(50% - 10px);
    list-style: none;
    float: left;
    box-sizing: border-box;
    }
    
    li div { 
    height: 80px;
    border-top: 1px solid #4bc6df;
    background-color: #eaeaea; //c-g6
    margin-bottom: 10px; 
    padding: 6px;
    }
    
    li:hover div {
    background-color: #dcdcdc; //c-g4
    }
    // hack override
    a, a:hover {
    text-decoration: none;
    }
    
    @include mq(mobileLandscape) { 
    li { width: 50%; } 
    li:nth-child(odd) div { margin-right: 10px; }
    li:nth-child(even) div{ margin-left: 10px; }  
    li:nth-child(even) { border-left: 1px solid #eaeaea; }   
    li:last-child div { margin-bottom: 0; }   
    }
}
