/* Variables */
$radius-mid:  100px; // normal
$radius-big:  128px; // select by user
$radius-ring: 300px;

/* Header styles */
// override
.l-header {
    display: none;
}

// custom: bg
.l-stars {
    background-image: url('assets/imgs/twinkling.png'), url('assets/imgs/stars.png');
    background-position: 0 0, 0 0;
}
.l-stars-lite {
    background-image: url('assets/imgs/twinkling.png'), url('assets/imgs/stars.lite.png');
    background-position: 0 0, 0 0;
}

.l-transit {
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    pointer-events: none;
}

.l-logo {
    float: right;
    margin-top: 6px;
    width: 128px;
    img { width: 100%; }
}
.l-share {
    border-bottom: 1px solid #333;
    padding-bottom: 6px;
}

.l-nav {
	list-style-type: none;
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    padding-bottom: 6px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
	li { 
	    cursor: pointer;
        display: inline-block;
        margin: 6px 0 0;
        
        // TODO: test othere browsers and devices
        margin-right: 6px;
        &:last-child { margin-right: 0; }
        @include mq(nav) { margin-right: calc((100% - 487px) / 4); }    
    }
}


/* Section */
section {
    min-height: 100vh;
    margin-bottom: 54px;
    box-sizing: border-box;
    border-top: 1px solid #767676;
}
.l-cha {
    border-top: none; 
}

.l-type {
    padding-top: 6px;
}
.l-list {
	@extend mw-620;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 100px);
    min-height: 380px;
    max-height: 600px;
    margin: 0 auto;
}
.l-item {
    width: $radius-mid;
    height: $radius-mid;
    cursor: pointer;
}
.l-ring {
    width: 100%;
    height: 100%;
    border-radius: $radius-mid/2;
    box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 6px black, 0 0 0 7px rgba(255,255,255,0.5);
}

.l-img {
    width: $radius-big;
    height: $radius-big;
    border-radius: $radius-big/2;
    margin: -($radius-ring+$radius-big)/2 auto 12px auto;
    background-color: rgba(50,50,50, 0.5);
}

.l-rels {
    margin-top: 36px;
    padding-top: 12px;
    border-top: 1px solid #767676;
    ul { margin-left: 0; }
    li { 
        list-style: none;
        height: 80px;
        cursor: pointer;
    }
}
.l-rels-img {
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: rgba(50,50,50, 0.5);
}
.l-rels-txt {
    margin-left: 76px;
    //padding-top: 12px;
}
.l-lock {
    height: 0;
    overflow: hidden;
}

/* Modal */
.l-modal {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll; 
    z-index: 1040; //ads is 1040
}
.l-sel {
    color: white;
    max-width: 620px;
    margin: auto;
    padding: 12px;
}
