// variables 
$radius-mid:  64px;  // normal
$radius-big:  128px; // select by user
$radius-ring: 300px;

// Header styles 
// override
.l-header {
    display: none;
}
// custom
.l-logo {
    float: right;
    margin-top: 6px;
    width: 128px;
    img { width: 100%; }
}
.l-share {
    border-bottom: 1px solid #333;
    padding-bottom: 6px;
}
.l-standfirst {
    max-width: 500px;
    margin-bottom: 0;
}
.l-nav {
	list-style-type: none;
	margin: 0;
    padding: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
	li { 
	    cursor: pointer;
        display: inline-block;
        margin: 6px 0 3px;
        // TODO: test othere browsers and devices
        margin-right: calc((100% - 300px) / 4);
        &:last-child {
        margin-right: 0;
    }}
}

.l-prev,
.l-next {
    position: fixed;
    left: 0;
    width: 100vw;//calc(100% - 20px);
    z-index: 1;
    cursor: pointer;
}
.l-prev {
    top: 0;
    background-image: linear-gradient(black 50%, transparent 100%);
    padding-bottom: 18px;
}
.l-next {
    bottom: 0;
    background-image: linear-gradient(transparent 0%, black 50%);
    padding-top: 18px;
    margin-bottom: -1px; //hotfix
}

// Section
section {
    min-height: 100vh;
    padding-top: 18px;
    box-sizing: border-box;
}

.l-list {
    width: 100%;
    height: calc(100vh - 100px);
    max-width: 600px;
    min-height: 400px;
    margin: 0 auto;
    //border: 1px solid rgba(100,100,100,0.5);
}
.l-item {
    width: $radius-mid;
    height: $radius-mid;
    cursor: pointer;
    border-radius: $radius-mid/2; 
    background-color: rgba(50,50,50, 0.5);
}
.l-ring {
    width: 100%;
    height: 100%;
    border-radius: $radius-mid/2;
    box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 6px black, 0 0 0 7px rgba(255,255,255,0.5);
}

.l-cha-img {
    width: $radius-big;
    height: $radius-big;
    border-radius: $radius-big/2;
    margin: -($radius-ring+$radius-big)/2 auto 12px auto;
    background-color: rgba(50,50,50, 0.5);
}

.l-rels {
    margin-left: 0;
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid;
    li { 
        list-style: none;
        height: 80px;
        cursor: pointer;
    }
}
.l-rels-img {
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: rgba(50,50,50, 0.5);
}
.l-rels-txt {
    margin-left: 76px;
    padding-top: 10px;
}

.l-sec {
    //width: 200px;
    //height: 200px;
    margin-top: -60px;
}
